:root{
  --primary-color: #af5c6a;
  --secondery-color: #70101c;
  --accent-color: #BC8034;
  --bg-color: #D9CAB3;
  --shadow-color: #8C7A6B;
  font-family: helvetica;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
 font-size: 16px;
 background: url('../images/background.JPG') no-repeat;
}

nav{
  background: var( --secondery-color);
  position: fixed;
  width: 100%;
}

nav{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondery-color);
  opacity: 0.9;
}

nav a {
  text-decoration:none;
  color:inherit;
  padding: 1em;
}

nav a:first-child{
margin-left: 10%;
}

nav a:hover {
  background: var(--secondery-color);
  color: var(--primary-color);
  cursor:pointer;
}

/* This is the styleling for the Header area */
header {
  display: flex;
  height: 100vh;
  background: radial-gradient(var(--bg-color) 60%, var(--accent-color));
  /* background: url('') no-repeat; */
}

div.headerfigere{
  margin: auto;
  width: 200px;
}

header img{
  width: 100%;
  border-radius: 4px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.5)

}

div.headerfigere h2,
header div.headerfigere p{
  text-align: center;
  margin: 0 auto;
}

blockquote {
  margin: 3em auto;
  text-align: left;
  color:var(--primary-color);
  font-size: 1.5em;
  width: 60%;
}

blockquote p:last-child {
  text-align: right;
  font-size: 0.8em;
}

blockquote p:last-child::before {
  content: '-';
}

main{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  justify-content: center;
}

main figure img {
  width: 100%;
}

main figure {
  margin:  0;
  background: rgba(0, 0, 0, 0.1);
  transition: filter 0.4s;
}

main figure:hover {
  filter: hue-rotate(0.5turn) drop-shadow(1px 1px 5px lightGrey);
  transition: filter 0.4s;
}

main figure figcaption h2,
main figure figcaption p{
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 0.5em 1em
}
#contact {
  margin: 0 auto;
  width: 80%;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  grid-gap: 2em;
  padding: 50px;
}

input[type=text], select, textarea{
  margin: 5px 0;
  width: 91%;
  padding: 1em;
  border: 0 solid white;
  background: var(--bg-color);
  border-left: 5px solid var(--primary-color);
  border-radius: 0;
  resize: vertical;
}

  input[type=Submit]{
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 12px 20px;
    margin: 5px 0;
    width: 100%;
    border: none;
    cursor: pointer;
    float: right;
  }

  textarea{
    height: 20%;
  }

  select{
    width: 98%;
  }

input[type=submit]:hover{
  margin-top: 5px;
  background-color: var(--secondery-color);

}
#contact iframe {
  width: 100%;
  height: 100%;
  min-width: 280px;
  min-height: 280px;
}
footer {
  background: #3c166d ;
  text-align: center;
  padding: 3em 0;
  background: var(--accent-color);
}

footer ul li{
  list-style-type: none;

}
footer a {
  text-decoration: none;
  color: var(--secondery-color)
}
